extends layout

block content
	h2 Upload


	br

	div(class="dropdown")
		button(class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown") Type 
			span(class="caret")
		ul(class="dropdown-menu")
			li
				a(href="#") Movie
			li
				a(href="#") TV Show
			li
				a(href="#") Other

	br

	button(type="button" class="btn btn-success") Upload
